/* results.css */

/* Estilos para el título de resultados */
.results-title {
    top: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    padding-top: 20px; /* Ajusta según sea necesario */
    color: #E6E8E7;
    font-family: "Avenir";
    -webkit-text-stroke: 0.3px black;  /* Resplandor blanco con media transparencia */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.results-title h1 {
    font-size: 43px;
    color: white;
    font-weight: 500;
    padding-bottom: 10px;
}

.results-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 0px; /* Ajusta según sea necesario */
    max-height: calc(100vh - 150px); /* Ajustar según la altura del título y el margen */
    overflow-y: auto; /* Agregar scrollbar si hay muchas empresas */
}

.result-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    width: 200px;
    -webkit-text-stroke: 0.3px black;  /* Resplandor blanco con media transparencia */
    /* text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 2px 2px 8px rgba(0, 0, 0, 0.8); /* Aplicar sombra adicional */
}

.result-card img {
    display: block;
    margin: 0 auto 10px;
}

.result-card h2 {
    font-size: 1em;
    margin: 0;
}

.result-card p {
    margin: 5px 0 0 0;
    font-size: 0.9em;
    color: #333;
}

/* Estilos para la ventana modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: hidden;
    transition: all 0.3s ease;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 850px;
    height: 750px;
    max-width: 80%;
    max-height: 80%;
    position: relative;
    overflow-y: auto;
    transition: width 0.3s ease, height 0.3s ease;
    text-align: left; /* Justificar el texto */
}

.modal.expanded .modal-content {
    width: 80%;
    height: 80%;
    }
    
.close {
position: absolute;
top: 10px;
right: 20px;
font-size: 24px;
cursor: pointer;
}

/* Estilos para la cuadrícula de empleados */
.employee-grid {
display: flex;
flex-wrap: nowrap;
gap: 10px;
justify-content: flex-start;
overflow-x: auto;
padding-top: 10px;
}

.employee-card {
border: 1px solid #ddd;
border-radius: 5px;
padding: 10px;
background-color: #fff;
text-align: center;
width: 150px;
box-shadow: 0 2px 4px rgba(0,0,0,0.1), 2px 2px 8px rgba(0, 0, 0, 0.8);
cursor: pointer;
}

.employee-card img {
display: block;
margin: 0 auto 10px;
border-radius: 50%;
}

.employee-card p {
margin: 5px 0 0 0;
font-size: 0.9em;
color: #333;
}

.employee-card p strong {
display: block;
}

/* Estilos para los detalles del empleado */
.employee-details {
display: flex;
flex-direction: row;
gap: 20px;
}

.employee-details-left {
flex: 1;
text-align: center;
}

.employee-details-right {
flex: 1;
}

.employee-details-right ul {
list-style-type: none;
padding: 0;
}

.employee-details-right li {
margin-bottom: 10px;
}

.send-message-button {
display: block;
width: 100%;
padding: 10px;
margin-top: 20px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
text-align: center;
cursor: pointer;
font-size: 16px;
}

.send-message-button:hover {
background-color: #0056b3;
}

.linkedin-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.linkedin-button {
    display: inline-block;
    padding: 10px 30px; /* Ajusta el padding según sea necesario */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; /* Para quitar el subrayado del enlace */
}

.linkedin-button:hover {
    background-color: #0056b3;
}

.background {
background-image: url("../images/background3.png");
background-size: cover;
background-position: center;
background-repeat: repeat-y; 
height: calc(100vh - 100px); 
position: relative;
text-align: center;
width: 100%;
}